.password-checklist{
    position: absolute;
    top: calc(100% + 40px);
    width: 100%;
    padding: 20px 30px;
    background: #ef547f;
    border-radius: 5px;
}

.checklist-title{
    font-size: 15px;
    color: #922037;
    margin-bottom: 10px;
}


.list-item{
    padding-left: 30px;
    color: #fff;
    font-size: 14px;
}
