* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --backgraund-color: #d76686
}

body{
    background: #d76686;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}